/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: block;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #33076D;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  text-align: center;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.circle-text {
    display: inline-block;
    font-size: 40px;
    line-height: 160px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background: purple;
    color: white;
}

a.circle-text:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background: #690069;
}

.closed {
  background: #B00035;
}

a.closed:hover {
  background: #90002C;
}

.item-summary {
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-reasons {
  margin-top: 20px;
  margin-bottom: 40px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.details-list { 
  padding: 0; 
  list-style-position: inside;
  list-style-type: none;
}

.wip {
  padding: 20px;
  margin-bottom: 40px;
}

.js-plotly-plot .plotly svg a {
  fill: #ffffff !important;
}

.question {
  margin-bottom: 30px;
  margin-top: 30px;
}

th {
    white-space: nowrap;
}