{% extends "base.html" %}
{% block content %}
      
          <h1 class="page-header">About Closed Access</h1>
          <p class="bg-danger lead wip">BE WARNED! This is a work in progress. It's part of an ongoing research project by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>). As a result, this interface is likely to change. That said, pretty much everything <em>should</em> work, so feel free to poke around and see what you can find. Have fun!</p>

          <h2>How does the access examination process work?</h2>
          <p>That&rsquo;s pretty much the question this project is trying to answer &ndash; working not from the policy and procedures, but from the files that end up being withheld from the public. The &lsquo;closed&rsquo; files.</p>

          <p>The National Archives of Australia provides several useful guides that describe how the process is meant to work:

          <ul>
            <li><a href="http://www.naa.gov.au/collection/fact-sheets/fs10.aspx">Access to records under the Archives Act – Fact sheet 10</a></li>
            <li><a href="http://www.naa.gov.au/collection/fact-sheets/fs46.aspx">Why we refuse access – Fact sheet 46</a></li>
            <li><a href="http://www.naa.gov.au/about-us/organisation/accountability/foi/aep/index.aspx">Access Examination Policy – personal, business and professional affairs of a person</a></li>
            <li><a href="http://www.naa.gov.au/collection/fact-sheets/fs12.aspx">What to do if we refuse you access – Fact sheet 12</a></li>
          </ul>

          </p>

          <h2>Where&rsquo;s the data?</h2>
          <p>A full dump of all the harvested data will be available shortly. In the meantime here&rsquo;s:
          <ul>
            <li><a href="https://github.com/wragge/closed_access/blob/master/data/records-closed-in-2015.csv">a CSV dump of all files closed in 2015</a></li>
            <li><a href="https://dx.doi.org/10.6084/m9.figshare.2060052.v1">the same thing on Figshare</a></li>
          </ul>

          <h2>Where&rsquo;s the code?</h2>
          <p>The harvester code is all Python. This website is built using Flask, Bootstrap, JQuery, and Plotly.
            <ul>
              <li><a href="https://github.com/wragge/closed_access">harvesting code</a> on GitHub</li>
              <li><a href="https://github.com/wragge/closedaccess-web">website code</a> on Github</li>
            </ul>
          </p>


{% endblock %}
