{% extends "base.html" %}
{% block content %}
      
          <h1 class="page-header">Ages</h1>
          <div class="question">
            <h3>When was content being added to closed files?</h3>
            
            <div id="years"><!-- Plotly chart will be drawn inside this DIV --></div>

            <div class="pull-right">
              <button id="hideDates1" class="btn btn-primary btn-xs">Hide dodgy dates</button>
              <button id="showDates1" class="btn btn-primary btn-xs disabled">Show dodgy dates</button>
            </div>
          </div>
          <div  class="question">
          <h3>How many closed files are in the open period?</h3>
            
            <div id="ages"><!-- Plotly chart will be drawn inside this DIV --></div>
            
            <div class="pull-right">
              <button id="hideDates2" class="btn btn-primary btn-xs">Hide dodgy dates</button>
              <button id="showDates2" class="btn btn-primary btn-xs disabled">Show dodgy dates</button>
            </div>
          </div>

{% endblock %}
{% block extrascripts %}
        <script>
            <!-- JAVASCRIPT CODE GOES HERE -->
            var layout1 = {
                            font: { family: "Helvetica Neue", color: '#333333'},
                            height: 500, 
                            margin: {l: 100, t: 30, b: 40},
                            yaxis: {
                                ticksuffix: ' '

                            }
                        };
            var data = {{ data|tojson|safe }}
            Plotly.newPlot('years', data, layout1);
            $('#years').on('plotly_click', function(event, data) {
                var year = data.points[0].data.x[data.points[0].pointNumber];
                window.location.href = '/items/?sort=oldest&content_year=' + year;
                //$scope.$apply();
            });
            $('#hideDates1').click(function() {
              if (!$(this).hasClass('disabled')) {
                var newdata = JSON.parse(JSON.stringify(data));
                newdata[0].x = newdata[0].x.slice(42);
                newdata[0].y = newdata[0].y.slice(42);
                newdata[0].text = newdata[0].text.slice(42);
                Plotly.newPlot('years', newdata, layout1);
                $('#hideDates1').toggleClass('disabled');
                $('#showDates1').toggleClass('disabled');
              }
            });
            $('#showDates1').click(function() {
              if (!$(this).hasClass('disabled')) {
                Plotly.newPlot('years', data, layout1);
                $('#hideDates1').toggleClass('disabled');
                $('#showDates1').toggleClass('disabled');
              }
            });
            var layout2 = {
                            font: { family: "Helvetica Neue", color: '#333333'},
                            height: 500, 
                            margin: {l: 100, t: 30, b: 40},
                            yaxis: {
                                ticksuffix: ' '

                            },
                            annotations: [
                              {
                                x: 21,
                                y: 500,
                                xref: 'x',
                                yref: 'y',
                                text: 'Start of the open period',
                                showarrow: true,
                                ax: 0,
                                ay: -100
                              },
                              {
                                x: 0.7,
                                y: 0.5,
                                xref: 'paper',
                                yref: 'paper',
                                text: '{{ ((open_total / total) * 100)|round(2, "ceil") }}% of closed files are in the open period',
                                showarrow: false,
                                font: { family: "Helvetica Neue", size: 20}
                              }
                            ]
                        };
            var opendata = {{ open_data|tojson|safe }}
            Plotly.newPlot('ages', opendata, layout2);
            $('#ages').on('plotly_click', function(event, data) {
                var age = data.points[0].data.x[data.points[0].pointNumber];
                var year = {{ now }} - age;
                window.location.href = '/items/?sort=youngest&end_direction=before&end_year=' + year;
                //$scope.$apply();
            });
            $('#hideDates2').click(function() {
              if (!$(this).hasClass('disabled')) {
                var newdata = JSON.parse(JSON.stringify(opendata));
                newdata[0].x = newdata[0].x.slice(0, -1);
                newdata[0].y = newdata[0].y.slice(0, -1);
                newdata[0].text = newdata[0].text.slice(0, -1);
                Plotly.newPlot('ages', newdata, layout2);
                $('#hideDates2').toggleClass('disabled');
                $('#showDates2').toggleClass('disabled');
              }
            });
            $('#showDates2').click(function() {
              if (!$(this).hasClass('disabled')) {
                Plotly.newPlot('ages', opendata, layout2);
                $('#hideDates2').toggleClass('disabled');
                $('#showDates2').toggleClass('disabled');
              }
            });

          </script>
{% endblock %}
