{% extends "base.html" %}
{% block content %}
      
          <h1 class="page-header">Harvests</h1>
          <p class="lead">So far there has been {{ harvests|length }} harvest of closed files. Check back around the 1 January next year for the latest closed file excitement.</p>

          {% for harvest in harvests %}
          <h2>{{ harvest.harvest_date.strftime('%e %B %Y')}}</h2>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="circle-text closed">{{ harvest.total }}</div>
              <h4>closed files</h4>
              <a href="/reasons?harvest={{ harvest.harvest_date.strftime('%Y-%m-%d') }}">explore files</a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="circle-text"> ? </div>
              <h4>years old</h4>
              <span class="text-muted">(at least)</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          {% endfor %}

{% endblock %}
