{% extends "base.html" %}
{% block extrameta %}
<title>Harvests :: Closed Access</title>
<meta property="og:title" content="Harvests :: Closed Access" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://closedaccess.herokuapp.com/harvests/" />
<meta property="og:image" content="http://closedaccess.herokuapp.com/static/images/home.png" />
<meta property="og:site_name" content="Closed Access" />
<meta property="og:description" content="A summary of metadata harvests conducted as part of the Closed Access project." />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wragge">
<meta name="twitter:creator" content="@wragge">
{% endblock %}
{% block content %}
      
          <h1 class="page-header">Harvests</h1>
          <p class="lead">So far there has been {{ harvests|length }} harvest of closed files. Check back around the 1 January next year for the latest closed file excitement.</p>
          {% for harvest in harvests %}
          <h2>{{ harvest.harvest_date.strftime('%e %B %Y')}}</h2>
          <div class="row placeholders">
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/items/" class="circle-text closed">{{ harvest.total }}</a>
              <h4>closed files</h4>
              <span class="text-muted">on {{ harvest.harvest_date.strftime('%e %B %Y') }}</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/reasons/" class="circle-text">{{ harvest.total_reasons }}</a>
              <h4>reasons</h4>
              <span class="text-muted">why these files have been closed</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/ages/" class="circle-text">{{ harvest.average_age }}</a>
              <h4>years</h4>
              <span class="text-muted">is the average age of these files<br>based on their date of their earliest content</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/series/" class="circle-text">{{ harvest.total_series }}</a>
              <h4>series</h4>
              <span class="text-muted">contain closed files</span>
            </div>
          </div>

          {% endfor %}

{% endblock %}
