{% extends "base.html" %}
{% block extrameta %}
<title>Overview :: Closed Access</title>
<meta property="og:title" content="Overview :: Closed Access" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://closedaccess.herokuapp.com/" />
<meta property="og:image" content="http://closedaccess.herokuapp.com/static/images/home.png" />
<meta property="og:site_name" content="Closed Access" />
<meta property="og:description" content="Closed Access is a research project exploring records held by the National Archives of Australia with an access status of 'closed'." />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wragge">
<meta name="twitter:creator" content="@wragge">
{% endblock %}
{% block content %}
      
          <h1 class="page-header">Closed access</h1>

          <h2>Overview</h2>

          <p class="lead">
          Under the Australian <em><a href="http://www.austlii.edu.au/au/legis/cth/consol_act/aa198398/">Archives Act 1983</a></em> most Commonwealth records are opened to public scrutiny after twenty years (this was reduced from thirty years in 2010). But the Act also defines &lsquo;exempt&rsquo; records that can be withheld from the public for a variety of reasons, including the defence of national security, and the protection of individual privacy. Access under the Act is not an inevitable destination, but a process that may result in records with the access status of &lsquo;closed&rsquo;.
          </p>

          <p class="lead">Here you can explore these closed files. Why can't we look at them? How old are they? What are we really being protected against?</p>

          <div class="row placeholders">
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/items/" class="circle-text closed">{{ harvest.total }}</a>
              <h4>closed files</h4>
              <span class="text-muted">on {{ harvest.harvest_date.strftime('%e %B %Y') }}</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/reasons/" class="circle-text">{{ harvest.total_reasons }}</a>
              <h4>reasons</h4>
              <span class="text-muted">why these files have been closed</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/ages/" class="circle-text">{{ harvest.average_age }}</a>
              <h4>years</h4>
              <span class="text-muted">is the average age of these files<br>based on their date of their earliest content</span>
            </div>
            <div class="col-xs-6 col-md-3 placeholder">
              <a href="/series/" class="circle-text">{{ harvest.total_series }}</a>
              <h4>series</h4>
              <span class="text-muted">contain closed files</span>
            </div>
          </div>
            <p class="bg-danger lead wip">BE WARNED! This is a work in progress. It's part of an ongoing research project by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>). As a result, this interface is likely to change. That said, pretty much everything <em>should</em> work, so feel free to poke around and see what you can find. Have fun!</p>

          <h2>Here's some examples&hellip;</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Series</th>
                  <th>Control Symbol</th>
                  <th>Title</th>
                  <th>Contents dates</th>
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.series }}</td>
                  <td>{{ item.control_symbol}}</td>
                  <td><a href="/items/{{ item.identifier }}/">{{ item.title }}</a></td>
                  <td>{{ item.contents_dates.date_str }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>


{% endblock %}
