{% extends "base.html" %}
{% block content %}
      
          <h1 class="page-header">Files</h1>
          {{ pagination.info }}
          {{ pagination.links }}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Series</th>
                  <th>Control Symbol</th>
                  <th>Title</th>
                  <th>Contents dates</th>
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.series }}</td>
                  <td>{{ item.control_symbol}}</td>
                  <td><a href="/items/{{ item.identifier }}/">{{ item.title }}</a></td>
                  <td>{{ item.contents_dates.date_str }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock %}
{% block search_form %}
<form action="/items/">
  <div class="form-group">
    <label for="q">Includes these words in title</label>
    <input type="text" class="form-control" id="q" name="q" placeholder="keywords"{% if q %} value="{{ q }}"{% endif %}>
  </div>
  <div class="form-group">
    <label for="reasons">Cites these reasons</label>
    <select multiple id="reasons" name="reasons" class="form-control">
    {% for option in reasons_list %}
      <option{%if option.reason in reasons %} selected="selected"{% endif %}>{{ option.reason }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="reasons_match">Type of match on reasons</label>
    <select id="reasons_match" name="reasons_match" class="form-control">
      <option{%if reasons_match == 'any' %} selected="selected"{% endif %}>any</option>
      <option{%if reasons_match == 'all' %} selected="selected"{% endif %}>all</option>
      <option{%if reasons_match == 'exact' %} selected="selected"{% endif %}>exact</option>
    </select>
  </div>
  <div class="form-group">
    <label for="content_year">Includes content from</label>
    <select id="content_year" name="content_year" class="form-control">
      <option value="">Any</option>
    {% for option in years %}
      <option{%if option == content_year %} selected="selected"{% endif %}>{{ option }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="start_year">Earliest content</label>
    <select id="start_direction" name="start_direction" class="pull-right">
      <option{%if start_direction == 'after' %} selected="selected"{% endif %}>after</option>
      <option{%if start_direction == 'before' %} selected="selected"{% endif %}>before</option>
    </select>
    <select id="start_year" name="start_year" class="form-control">
      <option value="">Any</option>
    {% for option in years %}
      <option{%if option == start_year %} selected="selected"{% endif %}>{{ option }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="end_year">Latest content</label>
    <select id="end_direction" name="end_direction" class="pull-right">
      <option{%if end_direction == 'before' %} selected="selected"{% endif %}>before</option>
      <option{%if end_direction == 'after' %} selected="selected"{% endif %}>after</option>
    </select>
    <select id="end_year" name="end_year" class="form-control">
      <option value="" >Any</option>
    {% for option in years %}
      <option{%if option == end_year %} selected="selected"{% endif %}>{{ option }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="series">Part of this series</label>
    <select id="series" name="series" class="form-control">
      <option value="">Any</option>
    {% for option in series_list %}
      <option{%if option == series %} selected="selected"{% endif %}>{{ option }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group date">
    <label for="decision_after">Access decision made after</label>
    <div class="input-group">
    <input type="text" class="form-control" id="decision_after" name="decision_after" placeholder="YYYY-MM-DD"{% if decision_after %} value="{{ decision_after }}"{% endif %}><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></i></span></div>
    </div>
  <div class="form-group date">
    <label for="decision_before">Access decision made before</label>
    <div class="input-group">
    <input type="text" class="form-control" id="decision_before" name="decision_before" placeholder="YYYY-MM-DD"{% if decision_before %} value="{{ decision_before }}"{% endif %}><span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span></i></span></div>
  </div>
  <div class="form-group">
    <label for="sort">Sort the results by</label>
    <select id="sort" name="sort" class="form-control">
      <option{%if sort == 'series' %} selected="selected"{% endif %}>series</option>
      <option{%if sort == 'oldest' %} selected="selected"{% endif %} value="oldest">oldest first</option>
      <option{%if sort == 'youngest' %} selected="selected"{% endif %} value="youngest">youngest first</option>
      <option{%if sort == 'decisions' %} selected="selected"{% endif %} value="decisions">date of decision</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
{% block extrastyles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css">
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script>
$('.form-group.date').datepicker({
    format: "yyyy-mm-dd"
});
</script>
{% endblock %}
