{% extends "base.html" %}
{% block content %}
      
          <h1 class="page-header">{{ reason.reason }}</h1>
          {% if reason.definition %}
          <h2><i class="fa fa-quote-left"></i> {{ reason.definition }} <i class="fa fa-quote-right"></i><br><small>&mdash; {% if reason.source == 'act' %}<a href="http://www.austlii.edu.au/au/legis/cth/consol_act/aa198398/s33.html">Section {{ reason.reason}}</a> of the <em>Archives Act 1983</em>{% elif reason.source == 'recordsearch' %} RecordSearch note{% endif %}</small></h2>
          {% endif %}

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/items?reason={{ reason.reason }}" class="circle-text closed">{{ reason.total }}</a> 
              <h4>closed files</h4>
              <span class="text-muted">cite this as a reason you're not allowed to see them</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="circle-text">{{ reason.average_age|round|int }}</div>
              <h4>years</h4>
              <span class="text-muted">is the average age of closed files that cite this reason, based on the date of their earliest content</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="circle-text">{{ reason.series|length }}</div>
              <h4>series</h4>
              <span class="text-muted">contain closed files that cite this reason</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class="circle-text">{{ reason.decision_age }}</div>
              <h4>years</h4>
              <span class="text-muted">is the average age of decisions to closed files citing this reason</span>
            </div>
          </div>
            <div class="question">
                <h3>When were closed files citing this reason being created?<br><small>Click to view files</small></h3>
                <div id="years"><!-- Plotly chart will be drawn inside this DIV --></div>
                <div class="pull-right">
                    <button id="hideDates1" class="btn btn-primary btn-xs">Hide dodgy dates</button>
                    <button id="showDates1" class="btn btn-primary btn-xs disabled">Show dodgy dates</button>
                </div>
            </div>
            <div class="question">
                <h3>How old are closed files that cite this reason?<br><small>Click to view files</small></h3>
                <div id="ages"><!-- Plotly chart will be drawn inside this DIV --></div>
                <div class="pull-right">
                    <button id="hideDates2" class="btn btn-primary btn-xs">Hide dodgy dates</button>
                    <button id="showDates2" class="btn btn-primary btn-xs disabled">Show dodgy dates</button>
                </div>
            </div>
            <div class="question">
                <h3>What series contain most closed files citing this reason?<br><small>Click to view files</small></h3>                
                <div id="reasons"><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
            <h3>Here's some examples of closed files that cite this reason&hellip;</h3>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Series</th>
                    <th>Control Symbol</th>
                    <th>Title</th>
                    <th>Contents dates</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items %}
                  <tr>
                    <td>{{ item.series }}</td>
                    <td>{{ item.control_symbol}}</td>
                    <td><a href="/items/{{ item.identifier }}/">{{ item.title }}</a></td>
                    <td>{{ item.contents_dates.date_str }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          

{% endblock %}

{% block extrascripts %}
        <script>
            <!-- JAVASCRIPT CODE GOES HERE -->
            var layout1 = {
                            font: { family: "Helvetica Neue", color: '#333333'},
                            margin: {t: 30, b: 40, l: 100},
                            height: 500
                        };
            var opendata = {{ open_data|tojson|safe }}
            Plotly.newPlot('ages', opendata, layout1);
            $('#ages').on('plotly_click', function(event, data) {
                var age = data.points[0].data.x[data.points[0].pointNumber];
                var year = {{ now }} - age;
                window.location.href = '/items/?reasons={{ reason.reason}}&sort=youngest&end_direction=before&end_year=' + year;
                //$scope.$apply();
            });
            $('#hideDates2').click(function() {
              if (!$(this).hasClass('disabled')) {
                var newdata = JSON.parse(JSON.stringify(opendata));
                newdata[0].x = newdata[0].x.slice(0, -1);
                newdata[0].y = newdata[0].y.slice(0, -1);
                newdata[0].text = newdata[0].text.slice(0, -1);
                Plotly.newPlot('ages', newdata, layout1);
                $('#hideDates2').toggleClass('disabled');
                $('#showDates2').toggleClass('disabled');
              }
            });
            $('#showDates2').click(function() {
              if (!$(this).hasClass('disabled')) {
                Plotly.newPlot('ages', opendata, layout1);
                $('#hideDates2').toggleClass('disabled');
                $('#showDates2').toggleClass('disabled');
              }
            });

            var layout2 = {
                            font: { family: "Helvetica Neue", color: '#333333'},
                            height: 500, 
                            margin: {t: 20},
                            bargap: 0.05,
                            yaxis: {
                                ticksuffix: ' '
                            },
                            annotations: [
                                            {
                                              x: 1,
                                              y: 0.9,
                                              xref: 'paper',
                                              yref: 'paper',
                                              text: '<a href="/series/list/?reason={{ reason.reason }}">View full list</a>',
                                              showarrow: false,
                                              font: { family: "Helvetica Neue", color: '#fff'},
                                              bgcolor: '#310867',
                                              borderpad: 3
                                            }
                                          ]
                        };
            Plotly.newPlot('reasons', {{ series_data|tojson|safe }}, layout2);
            $('#reasons').on('plotly_click', function(event, data) {
                var series = data.points[0].data.x[data.points[0].pointNumber];
                window.location.href = '/items/?reasons={{ reason.reason }}&series=' + series;
                //$scope.$apply();
            });

            var layout3 = {
                            font: { family: "Helvetica Neue", color: '#333333'},
                            margin: {t: 30, b: 40, l: 100},
                            height: 500
                        };
            
            var data = {{ year_data|tojson|safe }}
            Plotly.newPlot('years', data, layout3);
            $('#years').on('plotly_click', function(event, data) {
                var year = data.points[0].data.x[data.points[0].pointNumber];
                window.location.href = '/items/?reasons={{ reason.reason }}&sort=oldest&content_year=' + year;
                //$scope.$apply();
            });
            $('#hideDates1').click(function() {
              if (!$(this).hasClass('disabled')) {
                var newdata = JSON.parse(JSON.stringify(data));
                newdata[0].x = newdata[0].x.slice(1);
                newdata[0].y = newdata[0].y.slice(1);
                newdata[0].text = newdata[0].text.slice(1);
                Plotly.newPlot('years', newdata, layout3);
                $('#hideDates1').toggleClass('disabled');
                $('#showDates1').toggleClass('disabled');
              }
            });
            $('#showDates1').click(function() {
              if (!$(this).hasClass('disabled')) {
                Plotly.newPlot('years', data, layout3);
                $('#hideDates1').toggleClass('disabled');
                $('#showDates1').toggleClass('disabled');
              }
            });

          </script>
{% endblock %}
