{% extends "base.html" %}
{% block content %}
          <h1 class="page-header">Series</h1>
          <ul class="nav nav-pills pull-right" role="tablist">
            <li role="presentation"><a href="/series/" aria-controls="chart" role="tab"><i class="fa fa-bar-chart"></i></a></li>
            <li role="presentation" class="active"><a href="/series/list/" aria-controls="list" role="tab"><i class="fa fa-th-list"></i></a></li>
          </ul>
          <h2>This is the full list of record series containing closed files.</h2>
          {{ pagination.info }}
          {{ pagination.links }}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Series</th>
                  <th>Title</th>
                  <th>Number of closed files</th>
                </tr>
              </thead>
              <tbody>
              {% for item in series %}
                <tr>
                  <td>{{ item.series }}</td>
                  <td><a href="/series/{{ item.series }}/">{{ item.title }}</a></td>
                  <td>{{ item.total }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

{% endblock %}

